<div id="error_explanation">
  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this request from being submit:</h2>
  <ul class="error_list">
    <% @contact.errors.full_messages.each do |msg| %>
      <li> * <%= msg %></li>
    <% end %>
  </ul>
</div>
