<h2 class="text-center">Welcome To Thrillophilia</h2>
<p class="text-center para">Thrillophilia is India’s biggest online platform for activities and things to do. We have 8000+ activities listed from 3500+ operators across 200+ cities in India and 15+ countries in Asia.
With 2000+ customer reviews on the platform, we bring in transparency and credibility for our users. Our product teams hand curate operators and activity providers to ensure that each of our customer gets a delightful experience.</p>
<div class="col-md-5"></div>
<div class="col-md-3">
  <button type="button" class="btn btn-info btn-lg enquiry_btn" data-toggle="modal" data-target="#enquiry_form">Enquiry With Us </button>
</div>
<div class="col-md-4"></div>

<%= render 'contacts/enquiry_modal' %>
